body {
  font-family: Cabin, sans-serif;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

h1 {
  font-weight: 600;
  margin: 0;
}
h5 {
  font-weight: 600;
  margin: 0;
  text-align: left;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 400;
}

a {
  padding: 0 20px;
  margin: 0;
  color: #28B463
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://lh3.googleusercontent.com/zbUDo3i-_HCU5nMxhJTWwxis_ie3c2fYwrDc0pZMPxH8ciQV3aZ3dXBJ7k18QrInUSwLv4W39pK-H5gdr5jwB1z08fAiPxr8ICOOUUh0qf-2nG-SwAPVxOQYCfUBX7g9jv2fdo0SPI8mVbt_Cwz-RFXMOaKU3JmIKX6w8oWSbnoHNRiPgeIlsOJ9l729e00pdgWm9J--z7A1T67T_wZEBG45_wv7afYIni8hXTwNlgNBgs-UaJUQ32b-OFrEkr7VgoK-3OqE3s9GvZrtGB5et9QVjMnBadG3VzGERvZpfJ1uSmrbv3XGg3-EVD0V5pAO2BxDyslV-y02_BSQ5ZFcMOYXJ1BLBstWGs_4wDW1cSKsA5FsqC2ECiSEChPCmLv7yXm9EhQcWey2AgNCRPBYrQDKXGkgAvZIUCFKYrBd_qvp8BNg0WrlehaJT1T46cP43im0DDFjXK2hCA792PuOvaRn17srPdoprKhMwckh2v1mJTiYitKmuixG-QGmMGZ2qU8n7TVK86ks7_cJePW6PJGSVJ2ckgpr9F1W6zuRXF_TXlj129n22kzvybbTzv4R3ygNyZONOMCfnEnpLHaDtkvKBoHw_ndvyw9tr5S6AivhAWh6Lx-pbqlZX6wwdHgD0SqgLQ2kbu9Z7gKy-3oQTYcDGi_Ld2ywlzahtJRe88epvLFnXUS8Zyo=w1472-h903-no');
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #000;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
  overflow: hidden;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

.portrait {
  width:  350px;
  height: 300px;
  overflow: hidden;
}

.languages {
  overflow: hidden;
  max-width: 150px;
  max-height: 125px;
}

figure img {
  width: auto;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

footer {
  font-size: 18px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}
